@import "tailwindcss";

@theme {
  --color-background: #c9cedc;
  --color-foreground: #0f172a;
  --color-header: #343e43;
  --color-primary: #f9bf3b;
  --color-primary-foreground: #1e1e1e;
  --color-card: #ffffff;
  --color-card-foreground: #020817;
  --color-border: #e2e8f0;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;

  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;

  --shadow-soft: 0 4px 15px rgba(0, 0, 0, 0.05);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans min-h-screen antialiased;
  }
}
